*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none ;
    border: none ;
    outline: none;
    scroll-behavior: smooth;
}

:root{
    /*
    --sub-color:#272727;
    --main-color:#ede6d9;
    --text-color: #000000; */
    --p-color:#d62828;
    --s-color:#f77f00;

    --darkb-color:#003049;
}

body{
    font-family: 'Roboto', sans-serif;  
}

a{color: var(--text-color); text-decoration: none;}

.light_theme {
    --text-color:#141414;
    --textR-color:#ffffff;
    --textS-color:#ffffff;
    --main-color:#ede6d9;
    --sec-color:#ede6d9;
    --mainR-color:#272727;
    --sub-color:#272727;
    --cl1-color:#ead7b7;
    --cl2-color:#fff8ec;
    --cl3-color:#ffc400;
    --t-color:#392000;
    --gradient-bg:
    linear-gradient(127deg, var(--main-color), rgba(0, 0, 0, 0) 40.71%),
    linear-gradient(217deg, var(--main-color), rgba(0, 0, 0, 0) 40.71%),  
    url();
    --transition1: 0.30s ease-in-out;
}

.dark_theme {
    --text-color:#ffffff;
    --textR-color:#000000;
    --textS-color:#ffffff;
    --main-color:#272727;
    --sec-color:#181818;
    --mainR-color:#ede6d9;
    --sub-color:#1d1d1d;
    --cl1-color:#444444;
    --cl2-color:#313131;
    --cl3-color:#959595;
    --t-color:#fcbf49;
    --gradient-bg:
    linear-gradient(127deg, var(--main-color), rgba(0, 0, 0, 0) 40.71%),
    linear-gradient(217deg, var(--main-color), rgba(0, 0, 0, 0) 40.71%),  
    url();
    --transition1: 0.30s ease-in-out;
}

#blank-page{min-height:50vh;max-width: 100vmax;}

.logo {
    color: var(--cl3-color);
    font-weight: 600;
    cursor: pointer;
    font-size:  2.5rem;
}

#landing{
    background: var(--gradient-bg), url('../images/landing-ramen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    min-height: 50vh;
    max-width: 100vmax;
}

#shop{
    /* align-items: center;
    justify-content: center; */
    background: var(--main-color);
    min-height: 100vh;
    max-width: 100vmax;
}

.shop{
    display: grid;
    grid-template-columns: repeat(4, 400px);
    gap: 15px;
    justify-content: center;
}

#checkout-section{
    padding: 6rem 0rem;
    background: var(--main-color);
    color: var(--text-color);
    min-height: 100vh;
    max-width: 100vmax;
}

.HomeBtn{
    background-color: var(--second-bg-color);
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size:  20px;
    cursor: pointer;
}

.header.active .theme-btn { background: var(--main-color); }

.theme-btn {
    padding: 2px;
    width: 60px;
    /* background: var(--main-color); */
    border-radius: 50px;

}

.theme-btn #toggle-icon{
    /* color: var(--cl2-color); */
    color: transparent !important;
    position: relative;
    left: -15px;
    /* width: 20px;
    height: 20px; */
    border-radius: 50px;
    box-shadow: inset 8px -8px var(--cl3-color);
    transition: var(--transition1);
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.theme-btn.active #toggle-icon{
    left: 15px;
    border-radius: 50px;
    /* color: var(--cl2-color); */
    color: transparent !important;
    box-shadow: inset 20px 20px var(--cl3-color);
    transition: var(--transition1);
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 600;
}

#cart{
    position:relative;
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 2px;
    font-size: 20px;
    border-radius: 4px;
}

.cartAmount {
    position: absolute;
    top: -5px; right: -15px;
    background-color:var(--p-color);
    color: var(--textS-color);
    width: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    border-radius:50%;
    border: 1px solid;
    border-color: var(--textR-color);
}

.item {
    background-color:var(--cl2-color);
    border: 1px solid;
    border-radius: 10px;
    border-color: var(--mainR-color);
}

.imgItemContainer{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.imgItem{
    padding: 4px;
    width: 25rem;
    height: 15rem;
    border-radius: 10px 30px 10px 30px;
}

.product-content h4{
    color: var(--t-color);
    font-weight:600;
}

.details {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    margin: 5px;
}

/* ::placeholder {
    color: var(--p-color);
} */


.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:var(--main-color);
    color:var(--mainR-color);
}

.cart-button {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 1.5rem;
    cursor: pointer;
}

#price{font-size: 1.5rem; color:var(--maiR-color);}
#old-price{text-decoration: line-through; color: var(--p-color);}
#stats{font-size: 1.5rem; font-weight: 600; color:var(--s-color);}

.bi-house-fill{
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--mainR-color);
}

.bi-dash-square{
    font-weight: 300;
    color: var(--p-color);
}

.bi-plus-square{
    font-weight: 300;
    color: var(--s-color);
}


/* MINI PREVIEW CART */

.shopping-cart{
    display: grid;
    grid-template-columns: repeat(2, 600px);
    gap: 15px;
    justify-content: center;
    
}

.bi-x-circle-fill{
    color: var(--p-color);
    font-weight: bold;
    font-size:  30px;
    background-color:var(--mainR-color);
    border-radius:50px;
}

.removeItemButton{
    margin-top: -15px;
    margin-left: -15px;
    cursor: pointer;
}

.checkout{
    color: var(--textS-color) !important;
    background-color:var(--s-color) !important;
}

.removeAll{
    color: var(--textS-color) !important;
    background-color:var(--p-color) !important;
}

.removeAll, .checkout{
    border: 2px solid;
    border-color: var(--text-color);
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    font-size:  20px;
    cursor: pointer;
}

.cart-product-content{
    border-radius:10px;
    background-color:var(--mainR-color);
    padding: 10px;
    color: var(--main-color);
    font-weight:400;
    border-color: var(--mainR-color);
    border-width: 1px;
    border-style:solid dashed;
}

.cart-imgItemContainer{
    display: flex;
    flex-direction: row;
    justify-content:left;
}

.cart-item{
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--mainR-color);
}

.cart-item-price{
    color: var(--main-color);
    /* background-color:var(--p-color); */
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
    border-radius: 0px;
    text-align: center;   
}

.title-price-x{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgItemSmall{
    width: 100px;
    height: 100px;
    border-radius: 10%; 
}



